* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6;
  }
  
  img {
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  .showcase {
    @include set-background($primary-color);
    height: 600px;
  
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      ul {
        display: flex;
        list-style-type: none;
      }
  
      li {
        padding: 15px;
      }
  
      a {
        color: set-text-color($primary-color);
      }
  
      a:hover {
        color: $secondary-color;
      }
    }
  
    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
  
      img {
        width: 50%;
      }
  
      h1 {
        font-size: 50px;
        line-height: 1.2;
      }
    }
  }

  .team {

    .team--members{
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 1rem;

      .team--member{
        background-image: url(/img/pawns.jpg);
        width: 250px;
        border-radius: 5px;
        padding-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        text-align: center;

        &__info {
          background-color: rgba(0, 0, 0, 0.329);
        }
      }
    }
  }





















  // .team {
  //   .team--members {
  //       display: flex;
  //       align-content: center;
  //       justify-content: center;
  //       gap: 1rem;

  //       .team--member {
  //           text-align: center;
  //           box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  //           border-radius: 5px;
  //           padding-top: 1rem;
  //           background-image: url('/img/pawn');
  //           width: 300px;
  //           max-width: 450px;
    
  //           &__info {
  //               background-color: rgba(0, 0, 0, 0.3);
  //           }
  //       }
  //   } 
   
  // }
  