// _config.scss
@import 'config';

// _style.scss
@import 'style'; 
// _utilities.scss
@import 'utilities'; 

// components/_button.scss
@import 'components/button'; 

// responsive/_mobile.scss 
@import 'responsive/_mobile.scss' 

